extends layout.pug

block title
	title Impressum

block content
	h1 Impressum
	p
		| Philipp Bock
		br
		| Thulestraße 37
		br
		| 13189 Berlin

	p
		| E-Mail:
		=' '
		a(href='mailto:p@philippbock.de') philipp@c3lingo.org
		br
		| Telefon: +49 30 56837172

	p Verantwortlich für den Inhalt dieser Website nach §55 Abs. 2 RStV und/oder §5 TMG: Philipp Bock

	p(lang='en') This project uses
		=' '
		a(href='http://glyphicons.com') Glyphicons
		| .
